<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.Expo.GBvoices"
    versionCode = "1"
    version     = "1.0.0" >
  <name>GBVoices</name>
  <description>
      Ten las voces de gunbound en tu celular
  </description>
  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Expo
  </author>
  <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="true" />
</widget> 